<form action="/users/<%= @user.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <%= @user.username %>
  <%= @user.password %>
  <input type="submit" value="delete">
</form>

<h1><%= @user.username %></h1>
<h3>Mountains:</h3>
<p><%= @user.mountains %></p>

<form method="post" action="/users/<%= @user.id %>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>



<style>
body {
  background-image: url('https://www.liveabout.com/thmb/-BwV_KRGUKqQrjYz_LjT4BRTmxc=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/MontBlancRegion_BuenaVistaImages_Getty1-56a16aee3df78cf7726a89cf.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
